/* body{
    max-width: 750px;
    margin:auto;
    border:1px red solid;
} */

/*@media screen and (max-width: 750px)
{*/
    body{
        max-width: 750px;
        max-width: 1400px;
        margin: auto;
        border: 1px green solid;
    }


    body{
        font-family: 'Roboto', sans-serif;
    }

header img{
    width: 164px;
    height: 28px;
}

header{
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.145) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    width: 100%;
    height: 70px;
    position: relative;
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    color: #353535;
    font-weight: bold;
    width: 100%;
    height: 50px;
}

.location_city{
    margin-left: 15px;
}

.paragraph1{
    background-color: #f6f6f6;
    width: 100%;
    padding-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 45px;
}

.p1_title{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    max-width: 78%;
    margin-top: 43px;
    margin-bottom: 0px;
}

.p1_text{
    text-align: center;
    margin-top: 15px;
    color: #353535;
}

.p1_button{
    border: 1px solid transparent;
    border-radius: 150px;
    padding:0px 20px 0px 20px;
    box-shadow: #cfcfcf33 0px 7px 29px 0px;
    background: linear-gradient(#ee73da, #ae5fdb);
    color: white;
    font-weight: bold;
}

.p1_button:hover{
    cursor: pointer;
    opacity: 0.8;
    box-shadow: #cfcfcf04 0px 7px 29px 0px;
}

.step_contain{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-bottom: 80px;
}

.step_title{
    font-size: 1.5em;
    font-weight: bold;
}

.step_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step_123{
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    background-color: #f6f6f6;
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin: 15px 20px;
    width: 85%;
    padding: 5px 0px 5px 0px;
}

.step_123:hover{
    cursor: pointer;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.679) 0px 10px 20px, rgba(0, 0, 0, 0.549) 0px 6px 6px;
}

.step_number{
    background-color: #9356dc;
    color: white;
    border-radius: 100px;
    padding: 5px 10px 5px 10px;
    position: relative;
    right: 15px;
}

.step_icon{
    color: #7e7e7e;
    margin-left: 15px;
}

.step_text{
    margin-left: 20px;
    color: black;
}

.step_title{
    margin-left: 40px;
}



.restaurants{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 70px;
}

.restaurant_title{
    margin-left: 40px;
}


.restaurant_card{
    border: 1px solid transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(17, 17, 17, 0.638) 0px 7px 29px 0px;
}

.restaurant_card:hover{
    cursor: pointer;
    box-shadow: rgba(35, 35, 37, 0.898) 0px 7px 29px 0px;

}

.restaurant_card_img{
    position:relative;
}

.restaurant_card_img img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.restaurant_card_new{
    border: 1px solid transparent;
    background-color: #99e2d0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80px;
    height: 29px;
    left: 520px;
    padding: 5px 8px 5px 8px;
    border-radius: 3px;
    top: 10px;
}

.restaurant_card_new p{
    text-decoration: none;
    color: #0a8d6d;
    font-weight: bold;
}

.restaurant_text{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    margin-right: 20px;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
}

.restaurant_text_info{
    color: black;
    margin-left: 15px;
}

.restaurant_text_name{
   font-weight: bold;
   margin-bottom: 3px;
}

.heart_icon{
    font-size: 1.3em;
}

.restaurant_cards{
    display: flex;
    flex-direction: column;
}


.heart_icon{
    margin-right: 20px;
    margin-bottom: 15px;
}

footer{
    width: 100%;
    background-color: #353535;
    padding-top: 25px;
    padding-bottom: 50px;
}

.footer_title{
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 1.4em;
    padding-bottom: 15px;
}

.footer_section{
    margin-left: 40px;
}

.footer_section_links{
    display: flex;
}

.footer_section_link{
    color: white;
    display: flex;
    align-items: center;
    height: 35px;
}

.footer_section_link:hover{
    font-size: 1.2em;
}

.footer_section_link i{
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: white;
}

// }


/*SCSS LA PALETTE DU GOÜT */

.header_arrow{
    position: absolute;
    left: 35px;
    top: 33%;
    font-size: 20px;
}

.header_arrow a {
    color: black;
}

.image_big{
    width: 100%;
    object-fit: contain;
}

.menus{
    background-color: #f6f6f6;
    background-color: silver;
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    margin-top: -104px;
    position: relative;
    z-index: 1;
}

.the_menu_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.the_menu_header_title{
    font-family: Shrikhand;
    margin-left: 25px;
    font-size: 1.7em;
    margin-top: 45px;
    margin-bottom: 0px;
}

.the_menu_header_heart{
    margin-right: 25px;
    font-size: 1.9em;
    margin-top: 45px;
    margin-bottom: 0px;
}

.menu_list_title{
    text-decoration: none;
    margin-left: 25px;
}

.menu_list_title h2{
    border-bottom: 3px solid #99e2d0;
    width: 60px;
    margin-top: 60px;
}

.menu_food{
    padding-top: 10px;
    padding-left: 15px;
    width: 100%;
}

.menu_food_name h3{
    margin-bottom: 0px;
    margin-top: 0px;
}
.menu_food_price{
    background-color: white;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: #db5f5f 0px 7px 29px 0px;
}

.menu_food_descrption_price{
    display: flex;
    justify-content: space-between;
}

.menu_price{
    font-weight: bold;
    margin-right: 30px;
}

.validation_button{
    background-color: #99e2d0;
    color: white;
    padding: 30px;
    border-radius: 0px 15px 15px 0px;
    display: none;
}


.button_contain{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.order_button p{
    border: 1px solid transparent;
    border-radius: 200px;
    font-size: 1.2em;
    padding: 20px 50px 20px 50px;
    margin-top: 40px;
    margin-bottom: 70px;
    background: linear-gradient(#ee73da, #ae5fdb);
    color: white;
    font-weight: bold;
    box-shadow: #db5f5f 0px 7px 29px 0px;
}

.order_button p{
    cursor: pointer;
    opacity: 0.8;
    box-shadow: #cfcfcf04 0px 7px 29px 0px;
}










@media screen and (min-width: 750px){



    header{
        width: 100%;
        background-color: white;
    }

    .step_list{
        flex-direction: row;
        width: 100%;
    }

    .restaurants{
        display: flex;
        flex-direction: row;
    }

    figure{
        margin-top: 100px;
        margin-left: -166px;
        display: flex;
        flex-direction: column;
        align-items: space-between;
    }

    .footer_section_links{
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    /*la palette du goût*/

    .menus_list{
        display: flex;
    }
}